.App {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-family: 'Trebuchet MS', sans-serif;
  background-color: #3ED657;
  color: #000;
  width: 60%;
  border-radius: 10px;
  box-shadow: 5px 10px #d3d3d3;  
  padding: 5px;
}


